name: Publish VS Code Extension

on:
  workflow_dispatch: {}
  push:
    tags:
      - 'v*.*.*'

jobs:
  package-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install vsce
        run: npm install -g vsce

      - name: Package extension
        working-directory: .vscode/extensions/minecode-release
        run: vsce package

      - name: Publish to Marketplace
        if: github.event_name == 'workflow_dispatch' || startsWith(github.ref, 'refs/tags/')
        env:
          VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}
        working-directory: .vscode/extensions/minecode-release
        run: |
          # publish using PAT stored in secret VSCE_TOKEN
          vsce publish --pat $VSCE_TOKEN
